<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="deint.jvmed.clientmanagement">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission-sdk-23 android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".others.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity_Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.TodayMeetings"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="deint.jvmed.clientmanagement_TODAYMEETINGS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.InsertReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="deint.jvmed.clientmanagement_INSERT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>